<!-- Header -->
<div class="header bg-primary pb-6">
  <div class="container-fluid">
    <div class="header-body">
      <div class="header bg-primary pb-6">
        <div class="container-fluid">
          <div class="header-body">
            
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid mt--6">
  <div class="row justify-content-center">
    <div class="col-lg-8 card-wrapper">
      <!-- Grid system -->
      <div class="card">
        <div class="card-header">
          <h3 class="mb-0">充值</h3>
        </div>
        <div class="card-body">
          
          <div class="row">

            <div class="col-sm-6 col-xs-12">
              <table class="table align-items-center table-flush">
                <thead class="thead-light" id="table">
                 
                </thead>
                <tbody class="list">
                  

                </tbody>
              </table>
            </div>

            <div class="col-sm-6 col-xs-12">
              <div>
                {{.setting.recharge_page_html}}
              </div>
              <hr>
              <form action="" class="mt-3">
                <div class="input-group is-invalid">
                  <input type="number" class="form-control" id="recharge_id" value="10">

                  <div class="input-group-append">
                     <button class="btn btn-outline-secondary" type="button" onclick="pay()">充值</button>
                  </div>
                </div>
              </form>
            </div>
            
            
          </div>
        </div>
      </div>

      
      

    </div>
  </div>
 
</div>