<script>
    $(function () {
        
    })

   


    function login() {
        const loginForm = $("#loginForm")
        if (!loginForm[0].checkValidity()) {
            loginForm[0].reportValidity();
            return
        }

        let d = {}
        let t = $("#loginForm").serializeArray();
        $.each(t, function () {
            d[this.name] = this.value;
        });
        console.log(d)

        $.ajax({
            type: "post",// get或者post
            url: "/login",// 请求的url地址
            data: d,//请求的参数
            dataType: "json",//json写了jq会帮我们转换成数组或者对象 他已经用JSON.parse弄好了 
            beforeSend: function () {
                // 发送之前就会进入这个函数
                // return false 这个ajax就停止了不会发 如果没有return false 就会继续

            },
            success: function (data) { // 成功拿到结果放到这个函数 data就是拿到的结果
                if (data == null || data.code != 0) {
                    notify('danger', data.message)
                    return
                }
                Cookies.set("jwt", data.data.token, { expires: new Date(data.data.expire) })
                notify('success', "登录成功")
                location.href = "/user"
                
            },
            error: function () {//失败的函数
                notify('danger', data.message)
            },
            complete: function () {//不管成功还是失败 都会进这个函数
                
            }
        })

    }

    document.addEventListener('keyup', function(event) {
        if (event.keyCode === 13) {
            // 回车键按下后的操作
            login()
        }
    });

</script>