<!-- Header -->
<div class="header bg-primary pb-6">
  <div class="container-fluid">
    <div class="header-body">
      <div class="row align-items-center py-4">
        <div class="col-lg-6 col-7">
          <h6 class="h2 text-white d-inline-block mb-0">工单管理</h6>

        </div>
      </div>
    </div>
  </div>


</div>

<div class="container-fluid mt--6">

  <div class="card">
    
    <!-- Light table -->
    <div class="table-responsive">
      <table id="table" style="table-layout: fixed;"></table>
    </div>

  </div>
</div>